body{
    background-color: #cc9b9b;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: #b9abf700;
    color: #fff;

}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    padding: 20px;
    font-weight: 600;
}
nav ul li{
    cursor: pointer;
}

.svg1{
    padding: 20px;

}

.page1{
    background: url();
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }

nav img{
    width: 100px;
    height: 100px;
}    