.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  gap: 0.2rem;
}

.letter {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  perspective: 500px; /* Adds depth for the 3D effect */
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}