.screen {
    padding-top: 300px;
    text-align: center;
    height: 100vh;
    gap: 20px;
    background: #b9abf7;
    overflow: hidden;
    color: white;
    animation: hide 1s ease-in-out forwards;
    animation-delay: 2s;
}


@keyframes hide {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }



.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#fff 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}  
  

.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.letter {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  perspective: 500px; /* Adds depth for the 3D effect */
}
