

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    background: #b9abf7;
    overflow: hidden;
    color: white;
    animation: hide 1s ease-in-out forwards;
    animation-delay: 2s;
}

.canva-embed {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%; /* Maintain aspect ratio */
  padding-bottom: 0;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  margin-top: 1.6em;
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}

.canva-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
}
