nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: #b9abf7;
    color: white;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    padding-top:15px ;
}
nav ul li{
    cursor: pointer;
}